body {
	margin: 0px;
	padding: 3em;
	text-align: center;
	font-size: 12pt;
	color: #EEEEEE;
	background-color: #1E1E1E;
}

canvas {
	outline: 0;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: crosshair;
}

a:link {
	color: #EEEEEE;
}

a:visited {
	color: #EEEEEE;
}

a:hover {
	color: #808080;
}

a:active {
	color: #808080;
}

div.q {
	text-align: left;
	border: 1px solid #4040FF;
	margin-top: 8px;
	margin-bottom: 8px;
}

div.qq {
	border: 1px solid #4040FF;
	margin: 3px;
	padding-left: 16px;
	padding-right: 16px;
}

div#whole {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}